{% extends "base.html" %}

{% block title %}Chess Clock Trivia - Credits{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet/less" type="text/css" href="{{ url_for("static", filename="resources/css/credits.less") }}">
{% endblock %}

{% block vendor_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>
{% endblock %}

{% block header_scripts %}
    <script>
        const CREDITS = `{{ credits }}`;
    </script>
{% endblock %}

{% block content %}
    <h1>Chess Clock Trivia - Credits</h1>
    <p class="center">
        <span id="last-updated">Updated: {{ last_updated }}</span>
    </p>

    <div id="credits-area"></div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for("static", filename="resources/js/credits.js") }}"></script>
{% endblock %}
