{% extends "base.html" %}

{% block title %}Chess Clock Trivia{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet/less" type="text/css" href="{{ url_for("static", filename="resources/css/main_page.less") }}">
{% endblock %}

{% block vendor_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
{% endblock %}

{% block header_scripts %}
    <script>
        const TOTAL_NUM_QUESTIONS = {{ num_questions }};
    </script>
{% endblock %}

{% block content %}
    <!-- This will be shown first -->
    <div class="center-screen" id="session-id-entering-modal">
        <h1>Chess Clock Trivia</h1>
        <span class="center error-text" id="mobile-warning">It is recommended to access the main page using a
            device with a larger screen width.<br><br></span>
        <p class="center">
            A suggested session ID is<br>
            <code class="session-id" id="session-id-span">{{ seed_value }}</code><br>
            You may also enter a previous session ID.
        </p>

        <br>

        <div class="row center">
            <h2>Session ID</h2>
            <label for="session-id"></label><input class="center code-like" id="session-id" type="text"
                                                   placeholder="Enter a session ID here"><br>
            <a class="button" id="submit-session-id">Submit Session ID</a><br><br>
            <span class="error-text" id="submission-errors"></span>
        </div>

        <p class="center">
            Head to <a href="{{ url_for("questioner") }}" target="_blank">this page</a> to set up the Questioner side.
            <br>
            Go <a href="{{ url_for("rules") }}" target="_blank">here</a> to find out how to play Chess Clock Trivia.<br>
            Go <a href="{{ url_for("credits_page") }}" target="_blank">here</a> for the credits.
            <br><br>
            <span id="last-updated">Updated: {{ last_updated }}</span>
        </p>
    </div>

    <!-- This will only be shown once the session ID has been entered -->
    <div id="main-body" style="display: none">
        <h1 id="main-title">Chess Clock Trivia</h1>

        <!-- Confetti Canvas -->
        <canvas id="confetti-canvas"></canvas>

        <!-- Clocks Area -->
        <div class="row" id="clocks-area">
            <div class="clock-area center" id="clock-area-1">
                <span class="team-name" id="team-name-1" contenteditable>Team 1</span>

                <div class="clock">
                    <span id="clock-1">01:00</span>
                </div>

                <div class="clock-area-buttons">

                    <a class="button button-disabled" id="toggle-1" onclick="toggleClock(this)">Resume Clock</a>
                    <br><br>
                    <a class="button button-disabled" id="deduct-1" onclick="deductTime(this)">Deduct Time</a>
                </div>
            </div>

            <div class="clock-area center" id="clock-area-2">
                <span class="team-name" id="team-name-2" contenteditable>Team 2</span>

                <div class="clock">
                    <span id="clock-2">01:00</span>
                </div>

                <div class="clock-area-buttons">

                    <a class="button button-disabled" id="toggle-2" onclick="toggleClock(this)">Resume Clock</a>
                    <br><br>
                    <a class="button button-disabled" id="deduct-2" onclick="deductTime(this)">Deduct Time</a>
                </div>
            </div>
        </div>

        <!-- Questions Area -->
        <hr>
        <div class="row center" id="question-area">
            <h2 class="question-header" id="question-header">Question <span id="question-number"></span></h2>
            <span id="question">Start the game to get the first question.</span><br>
            <span id="topic">This is the topic of the current question.</span>
        </div>
        <hr>

        <!-- Setup Area -->
        <div class="row center">
            <h2>Number of Teams</h2>
            <label for="num-teams"></label><input class="input-field" id="num-teams" type="number" min="2"
                                                    value="2">
            <h2>Time Limit (in seconds)</h2>
            <label for="time-limit"></label><input class="input-field" id="time-limit" type="number" min="1" value="60">
            <h2>Penalty Time (in seconds)</h2>
            <label for="penalty-time"></label><input class="input-field" id="penalty-time" type="number" min="1"
                                                     value="10">
            <br><br>
            <a class="button" id="start-game">Start The Game!</a><br><br>
            <span class="error-text" id="validation-errors"></span>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for("static", filename="resources/js/main_page.js") }}"></script>
{% endblock %}
