{% extends "base.html" %}

{% block title %}Chess Clock Trivia - Questioner{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet/less" type="text/css"
          href="{{ url_for("static", filename="resources/css/questioner.less") }}">
{% endblock %}

{% block header_scripts %}
    <script>
        const TOTAL_NUM_QUESTIONS = {{ num_questions }};
    </script>
{% endblock %}

{% block content %}
    <!-- This will be shown first -->
    <div class="center-screen" id="session-id-entering-modal">
        <h1>Chess Clock Trivia - Questioner</h1>

        <div class="row center">
            <h2>Session ID</h2>
            <label for="session-id"></label><input class="center code-like" id="session-id" type="text"
                                                   placeholder="Enter a session ID here"><br>
            <h2>Session Passcode</h2>
            <label for="session-passcode"></label><input class="center" id="session-passcode" type="password"
                                                   placeholder="Enter the session passcode here"><br>
            <a class="button" id="submit-session-id">Submit Session ID</a><br><br>
            <span class="error-text" id="submission-errors"></span>

            <p class="center">
                Head <a href="{{ url_for("set_up") }}" target="_blank">here</a> to set up the session.
                <br>
                Please go <a href="{{ url_for("rules") }}" target="_blank">here</a> to obtain the protocols that
                the <em>Questioner</em> should follow.<br>
                Go <a href="{{ url_for("credits_page") }}" target="_blank">here</a> for the credits.
                <br><br>
                <span id="last-updated">Updated: {{ last_updated }}</span>
            </p>
        </div>
    </div>

    <!-- This will only be shown once the session ID has been entered -->
    <div id="main-body" style="display: none">
        <h1 id="main-title">Chess Clock Trivia - Questioner</h1>
        <h3 class="center" id="session-id-span"></h3>

        <!-- Questions Area -->
        <div>
            <hr>
            <div class="row center" id="question-area">
                <h2 class="question-header" id="question-header">Question <span id="question-number"></span></h2>
                <span id="question">Click the button below to get the first question.</span><br>
                <span id="answer">This will be the answer to the question.</span>
                <br><br>
                <a class="button" id="get-next-question">Get Next Question</a>
            </div>
            <hr>
        </div>

        <!-- Update session on server section -->
        <div class="row center">
            <a class="button" id="update-session">Update Session on Server</a><br><br>
            <span id="server-response"></span>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for("static", filename="resources/js/questioner.js") }}"></script>
{% endblock %}
