{% extends "base.html" %}

{% block title %}Chess Clock Trivia - Set Up Session{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet/less" type="text/css"
          href="{{ url_for("static", filename="resources/css/set_up_session.less") }}">
{% endblock %}

{% block content %}
    <div id="main-body">
        <h1 id="main-title">Chess Clock Trivia - Set Up Session</h1>
        <p class="center">
            <span id="last-updated">Updated: {{ last_updated }}</span>
        </p>

        <div class="row center">
            <h2>Session ID</h2>
            <span>Enter a session ID below. A suggested session ID is provided.</span>
            <label for="session-id"></label><input class="center code-like" id="session-id" type="text"><br>

            <h2>Session Passcode</h2>
            <span>The passcode will be used to verify the authenticity of requests made with this session ID.</span>
            <label for="session-passcode"></label><input class="center" id="session-passcode" type="password"><br>

            <h2>Session Seed</h2>
            <span>This is the seed that will be used to randomise the question order.</span>
            <label for="session-seed"></label><input class="center" id="session-seed" type="text">

            <h2>Topic Selection</h2>
            <span>From the list below, select the topics that should be in the trivia game.</span><br><br>
            <a class="button" id="select-all-topics">Select All Topics</a>
            <a class="button" id="deselect-all-topics">Deselect All Topics</a><br><br>
            <div style="text-align: left; width: 50%">
                {% for topic in topics %}
                    <div style="width: 50%; margin: 0 auto;">
                        <input type="checkbox" value="{{ topic }}" name="topic-selector" id="topic-selector-{{ topic }}"
                               checked>
                        <label for="topic-selector-{{ topic }}">{{ topic }}</label>
                    </div>
                {% endfor %}
            </div>

            <h2>Custom Trivia Questions</h2>
            <span>
                You can upload your own trivia questions by uploading a <code>.csv</code> file with the custom trivia
                questions below.
            </span><br>
            <input type="file" id="custom-trivia-qns" accept="text/csv">

            <br><br><a class="button" id="set-up-session">Set Up Session</a><br><br>
            <span id="outcome"></span>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for("static", filename="resources/js/set_up_session.js") }}"></script>
{% endblock %}
